---
layout: page
title: Новости
---

{% for post in paginator.posts %}
    <div class="separator">
    <a href="{{ post.url }}"><h1>{{ post.title }}</a> <span class="date">| {{ post.date | date_to_string }}</span></h1>
    {{ post.excerpt }}
    </div>
{% endfor %}

<div class="pagination">
  {% if paginator.previous_page %}
    <a class="page" href="{{ paginator.previous_page_path }}">Назад</a>
  {% endif %}
  <span class="page">
    стр. {{ paginator.page }} из {{ paginator.total_pages }}
  </span>
  {% if paginator.next_page %}
    <a class="page" style="font-size: 1.2em" href="{{ paginator.next_page_path }}">Вперёд</a>
  {% endif %}
</div>
