<!-- HEADER --->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="/css/main.css"/>
    <link rel="stylesheet" type="text/css" href="/css/mobile.css"/>
    <link rel="shortcut icon" href="/icons/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/icons/apple-touch-icon-144-precomposed.png">
    <title>
    {% if page.title == "Главная" %}
      {{ site.title }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
    </title>
    {% feed_meta %}
    {% seo %}
    <meta name="selfwork.ru" content="RsOZM7V1T3BDuHw4e5gcyen34PdjYkxGoAamA3ExSdQebREUsJ" />
</head>
