<!-- SIDEBAR --->
<div class="sidebar">
    <div class="description">
        <h1>SidPic</h1>
        <p>
            Здесь моя музыка. Можно почитать новости, послушать, скачать, приобрести лицензию или заказать написание новой композиции.
        </p>
    </div>
    <hr>
    <nav>
        <a href="/index.html">Главная</a><br>
        <a href="/music.html">Музыка</a><br>
        <a href="/news.html">Новости</a><br>
        <a href="/buy.html">Лицензии</a><br>
        <a href="/work.html">Заказать</a><br>
        <a href="/help.html">Поддержать</a><br>
    </nav>
    <hr>s
    <div class="footer">
    <strong>Почта</strong>: <a href="mailto:sidpiclu@gmail.com">sidpiclu@gmail.com</a><br>
    <strong>Соцсети</strong>:
    <a href="https://t.me/sidpiclu" target="_blank">
        <img src="/icons/telegram.png", alt="Telegram">
    </a>
    <a href="https://t.me/sidpiclu" target="_blank">
        <img src="/icons/vk.png", alt="VK">
    </a>
    <br>
    <strong>Площадки</strong>:
    <a href="https://t.me/sidpiclu" target="_blank">
        <img src="/icons/yandex music.png", alt="Yandex Music">
    </a>
    <a href="https://t.me/sidpiclu" target="_blank">
        <img src="/icons/spotify.png", alt="Spotify">
    </a>
    <a href="https://t.me/sidpiclu" target="_blank">
        <img src="/icons/apple music.jpeg", alt="Apple music">
    </a>
    <hr>
    <p>&copy; SidPic 2024</p>
    </div>
</div>
