<head>
<style>
.tiles {
    display: flex;
    flex-wrap: wrap;
}
.tile {
    flex-direction: row;
    width: 320px;
    padding: 0;
    margin: 0.5em;
    text-align: center;
}
.aud {
    width: 100%;
    padding: 0;
    margin: 0;
    border: hidden;
    border-radius: 25px;
    text-align: center;
}
.cover {
    width: 80%;
    padding: 0;
    margin: 0;
    border: hidden;
    border-radius: 25px;
    text-align: center;
}
.cap {
    font-size: 1em;
    text-align: center;
}
</style>
</head>
