<!DOCTYPE html>
<html lang="ru">
<meta charset="utf-8">

{% include header.html %}

<body>

    {% include sidebar.html %}

    <div class="main">
        {{ content }}
    </div>

    <div class="mobile">
    <details><summary>
    &copy; SidPic 2024
    </summary></details>
    <div class="mobile-footer">
    <strong>Почта</strong>: <a href="mailto:sidpiclu@gmail.com">sidpiclu@gmail.com</a><br>
    <strong>Соцсети</strong>:
    <a href="https://t.me/sidpiclu" target="_blank">
    <img src="/icons/telegram.png", alt="Telegram">
    </a>
    <a href="https://t.me/sidpiclu" target="_blank">
            <img src="/icons/vk.png", alt="VK">
    </a>
    <br>
    <strong>Площадки</strong>:
    <a href="https://t.me/sidpiclu" target="_blank">
        <img src="/icons/yandex music.png", alt="Yandex Music">
    </a>
    <a href="https://t.me/sidpiclu" target="_blank">
        <img src="/icons/spotify.png", alt="Spotify">
    </a>
    <a href="https://t.me/sidpiclu" target="_blank">
        <img src="/icons/apple music.jpeg", alt="Apple music">
    </a>
    </div>
    </div>
</body>
</html>
