<!DOCTYPE html>
<html lang="ru">

{% include header.html %}

<body>

    {% include sidebar.html %}

    <div class="main">
        {{ content }}
    </div>

    <div class="mobile">
        <details><summary>
        Все права защищены &copy; SidPic 2024
        </summary></details>

        <div class="mobile-footer">
            <strong>Почта</strong>:
                <a href="mailto:sidpiclu@gmail.com">sidpiclu@gmail.com</a>
            <br>
            <strong>Соцсети</strong>:
                {% include socials.html %}
            <br>
            <strong>Площадки</strong>:
                {% include streamings.html %}
            <br>
            <div id="warning" hidden=true></div>
        </div>
    </div>

    <script src="/js/warning.js"></script>
</body>
</html>
