---
layout: default
title: Музыка
---

<head>
<link rel="stylesheet" type="text/css" href="/css/music.css"/>
</head>

<h1>{{ page.tag | capitalize }} музыка</h1>

<div class="cut">
<p>
    Здесь можно послушать или скачать (&#11015;, в mp3) музыку, приобрести лицензию (&#9835;).
    Лицензии расположены на другом сайте, где музыка проходит модерацию, что занимает некоторое время,
    потому, если ссылка на лицензию пока не работает, пишите на почту <a href="mailto:sidpiclu@gmail.com">sidpiclu@gmail.com</a>.
</p>
</div>

<div class="content">
<h2 style="padding-top: 0; margin-top: 0;">Навигиция по тегам</h2>
<span style="text-align: left;">
<p>
    <strong>Тон, настроение:</strong>
        <a href="/music/depressive.html">#депрессивная</a>
        <a href="/music/sad.html">#печальная</a>
        <a href="/music/light.html">#светлая</a>
        <a href="/music/fun.html">#жизнерадостная</a>
    <br>
    <strong>Напряжённость, экспрессия:</strong>
        <a href="/music/lite.html">#лёгкая</a>
        <a href="/music/moderate.html">#умеренная</a>
        <a href="/music/tense.html">#напряжённая</a>
        <a href="/music/agressive.html">#агрессивная</a>
    <br>
    <strong>Вычурность, загадочность:</strong>
        <a href="/music/simple.html">#простая</a>
        <a href="/music/fabulous.html">#сказочная</a>
        <a href="/music/mystical.html">#мистическая</a>
        <a href="/music/pretentious.html">#вычурная</a>
    <br>
    <strong>Характер, чувственность:</strong>
        <a href="/music/intimate.html">#интимная</a>
        <a href="/music/dreamy.html">#мечтательная</a>
        <a href="/music/sensual.html">#чувственная</a>
        <a href="/music/pathos.html">#пафосная</a>
    <br>
    <a href="/music.html">#вся</a>
</p>
</span>
</div>

<div class="music-tiles">
{% for music in site.music %}
    {% if music.tags contains page.tag or page.tag == '#' %}
        <div class="mobile"><hr></div>
        <div class="music-tile">
            <div>
            <img loading="lazy" decoding="async" src="{{ music.cover }}" alt="{{ music.name }}">
            <figcaption>{{ music.name }}
                <strong>
                    <a href="{{ music.url }}" download="{{ music.name }}.mp3">&#11015;</a>&nbsp;|&nbsp;<a target="_blank" href="{{ music.buy }}">&#9835;</a>
                </strong>
                <br>
                <span style="font-size: 0.8em; color: grey;">
                    {% for tag in music.tags %}
                        #{{ tag }}
                    {% endfor %}
                </span>
            </figcaption>
            </div>
            <audio controls controlslist="nodownload" preload="metadata" type="audio/mpeg" src="{{ music.url }}"><a href="{{ music.url }}" download="{{ music.name }}.mp3">{{ music.name }}</a></audio>
        </div>
    {% endif %}
{% endfor %}
</div>
