---
layout: default
---

<head>
<link rel="stylesheet" type="text/css" href="/css/music.css"/>
</head>

<h1>{{ page.title }}</h1>

<div class="cut">
<p>
    Здесь можно послушать или скачать (&#11015;) музыку, приобрести лицензию (&#128184;).
    Лицензии расположены на другом сайте, где музыка проходит модерацию, что занимает некоторое время,
    потому, если ссылка на лицензию пока не работает, пишите на почту <a href="mailto:sidpiclu@gmail.com">sidpiclu@gmail.com</a>.
</p>
</div>

<div class="content">
<h2>Навигиция по тегам</h2>
<p>
    <strong>Тон, настроение:</strong>
        <a href="/music/depressive.html">#депрессивная</a>
        <a href="/music/sad.html">#печальная</a>
        <a href="/music/light.html">#светлая</a>
        <a href="/music/fun.html">#жизнерадостная</a>
    <br>
    <strong>Напряжённость, экспрессия:</strong>
        <a href="/music/lite.html">#лёгкая</a>
        <a href="/music/moderate.html">#умеренная</a>
        <a href="/music/tense.html">#напряжённая</a>
        <a href="/music/agressive.html">#агрессивная</a>
    <br>
    <strong>Вычурность, загадочность:</strong>
        <a href="/music/simple.html">#простая</a>
        <a href="/music/fabulous.html">#сказочная</a>
        <a href="/music/mystical.html">#мистическая</a>
        <a href="/music/pretentious.html">#вычурная</a>
    <br>
    <strong>Характер, чувственность:</strong>
        <a href="/music/intimate.html">#интимная</a>
        <a href="/music/dreamy.html">#мечтательная</a>
        <a href="/music/sensual.html">#чувственная</a>
        <a href="/music/pathos.html">#пафосная</a>
    <br>
</p>
</div>

{{ content }}
